<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>local-end-point</key>
	<dict>
		<key>query</key>
		<string>PREFIX pv:&lt;http://dacura.cs.tcd.ie/data/politicalviolence#&gt;
PREFIX owltime:&lt;http://www.w3.org/2006/time#&gt;

PREFIX geo:&lt;http://www.w3.org/2003/01/geo/wgs84_pos#&gt;
PREFIX xsd:&lt;http://www.w3.org/2001/XMLSchema#&gt;

SELECT ?latitude ?longitude ?year ?description ?category ?motivation ?fatalities ?location ?url
WHERE {
	?url
		pv:description ?description ;
		pv:category ?category ;
		pv:motivation ?motivation ;
		pv:unstructuredLocation ?locationNode ;
		pv:fatalitiesValue ?fatalitiesValue ;
		owltime:year ?yearValue .
	
		?locationNode
			pv:unstructuredLocation ?location;
			geo:lat ?lat;
			geo:long ?long .

	BIND (xsd:int(?yearValue) AS ?year)
	BIND (xsd:int(?fatalitiesValue) AS ?fatalities)
	BIND (xsd:double(?lat) AS ?latitude)
	BIND (xsd:double(?long) AS ?longitude)

}
</string>
		<key>cd-query</key>
		<string>{{^ isEmpty(category)}}( {{# category}}( rawCategory LIKE &apos;{{.}}&apos; ) OR {{/ category}}rawCategory==NULL ) AND {{/}}
{{^ isEmpty(motivation)}}( {{# motivation}}( rawMotivation LIKE &apos;{{.}}&apos; ) OR {{/ motivation}}rawMotivation==NULL ) AND {{/}}
{{^ isEmpty(date)}}( {{# date}}( {{{.}}} ) OR {{/ date}}date==NULL ) AND {{/}}
{{^ isEmpty(fatalities)}}( {{# fatalities}}( {{{.}}} ) OR {{/ fatalities}}fatalities==NULL ) AND {{/}}
( uri != NULL )</string>
		<key>query-template</key>
		<string>PREFIX pv:&lt;http://dacura.cs.tcd.ie/data/politicalviolence#&gt;
PREFIX owltime:&lt;http://www.w3.org/2006/time#&gt;

PREFIX geo:&lt;http://www.w3.org/2003/01/geo/wgs84_pos#&gt;
PREFIX xsd:&lt;http://www.w3.org/2001/XMLSchema#&gt;

SELECT ?latitude ?longitude ?year ?description ?category ?motivation ?fatalities ?location ?url
WHERE {
	?url
		pv:description ?description ;
		pv:category ?category ;
		pv:motivation ?motivation ;
		pv:unstructuredLocation ?locationNode ;
		pv:fatalitiesValue ?fatalitiesValue ;
		owltime:year ?yearValue .
	
		?locationNode
			pv:unstructuredLocation ?location;
			geo:lat ?lat;
			geo:long ?long .

	BIND (xsd:int(?yearValue) AS ?year)
	BIND (xsd:int(?fatalitiesValue) AS ?fatalities)
	BIND (xsd:double(?lat) AS ?latitude)
	BIND (xsd:double(?long) AS ?longitude)

	FILTER ( false {{#category}}|| ?category=&lt;{{.}}&gt;{{^}}|| true{{/ category}} )
	FILTER ( false {{#motivation}}|| ?motivation=&lt;{{.}}&gt;{{^}}|| true{{/ motivation}} )

	{{# date.range.min}}FILTER( {{date.range.min}} &lt;= ?year ){{/ date.range.min}}
	{{# date.range.max}}FILTER( {{date.range.max}} &gt;= ?year ){{/ date.range.max}}

	FILTER( false{{# date.values}} || {{.}} = ?year{{^}} || true{{/ date.values}} )

	{{# fatality.range.min}}FILTER( {{fatality.range.min}} &lt;= ?fatalities ){{/ fatality.range.min}}
	{{# fatality.range.max}}FILTER( {{fatality.range.max}} &gt;= ?fatalities ){{/ fatality.range.max}}

	FILTER( false{{# fatality.values}} || {{.}} = ?fatalities{{^}} || true{{/ fatality.values}} )

}

LIMIT {{ limit }}</string>
		<key>db-name</key>
		<string>politicalviolence.sqlite</string>
		<key>baseURL</key>
		<string>http://dacura.cs.tcd.ie/</string>
	</dict>
	<key>remote-end-point</key>
	<dict>
		<key>query</key>
		<string>PREFIX rdf:&lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt;
PREFIX rdfs:&lt;http://www.w3.org/2000/01/rdf-schema#&gt;
PREFIX uspv:&lt;http://dacura.cs.tcd.ie/data/politicalviolence/uspv/&gt;
PREFIX xsd:&lt;http://www.w3.org/2001/XMLSchema#&gt;
PREFIX pv:&lt;http://dacura.cs.tcd.ie/data/politicalviolence#&gt;
PREFIX owltime:&lt;http://www.w3.org/2006/time#&gt;

PREFIX lgd:&lt;http://linkedgeodata.org/&gt;
PREFIX lgdo:&lt;http://linkedgeodata.org/ontology/&gt;
PREFIX geo:&lt;http://www.w3.org/2003/01/geo/wgs84_pos#&gt;
PREFIX spatial:&lt;http://jena.apache.org/spatial#&gt;

CONSTRUCT {
	?url
		pv:description ?description ;
		pv:category ?categoryValue ;
		pv:motivation ?motivationValue;
		pv:unstructuredLocation ?locationNode;
		pv:fatalitiesValue ?fatalitiesValue ;
		owltime:year ?year .
	
		?locationNode
			pv:unstructuredLocation ?location .
		?locationNode
			geo:lat ?lat;
			geo:long ?long .
	
} WHERE {
	?url
		pv:description ?description; 
		pv:category ?categoryValue;
		pv:motivation ?motivationValue;
		pv:fatalities ?fatalitiesNode;
		pv:location ?locationNode;
		pv:atTime ?timeNode .

	?fatalitiesNode
		pv:fatalitiesValue ?fatalitiesValue.

	?timeNode
		owltime:hasDateTimeDescription _:dateTimeDescription .

	_:dateTimeDescription
		owltime:year ?year

	{
		?locationNode
			pv:unstructuredLocation ?location .
	} UNION {
		?locationNode
			pv:unstructuredLocation ?location ;
			geo:lat ?lat;
			geo:long ?long .
	}

}

LIMIT 3000</string>
		<key>ds</key>
		<string>http://ld.eliendrae.net:3030/ds</string>
		<key>graph</key>
		<string>default</string>
	</dict>
</dict>
</plist>
