<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UI</key>
	<array>
		<dict>
			<key>options</key>
			<array>
				<string>assassination</string>
				<string>compilation</string>
				<string>executions</string>
				<string>insurrection</string>
				<string>lynching</string>
				<string>mass suicide</string>
				<string>rampage</string>
				<string>riot</string>
				<string>sedition</string>
				<string>terrorism</string>
				<string>war</string>
				<string>unknown category</string>
			</array>
			<key>restricted</key>
			<true/>
			<key>hint</key>
			<string>Filter events based on category</string>
			<key>id</key>
			<string>category</string>
			<key>name</key>
			<string>Category</string>
			<key>type</key>
			<string>selector</string>
		</dict>
		<dict>
			<key>options</key>
			<array>
				<string>criminal</string>
				<string>economic</string>
				<string>education</string>
				<string>ethnic</string>
				<string>extralegal</string>
				<string>family</string>
				<string>indian</string>
				<string>insane</string>
				<string>labor</string>
				<string>land</string>
				<string>nativist</string>
				<string>other</string>
				<string>personal</string>
				<string>political</string>
				<string>prison</string>
				<string>race</string>
				<string>religion</string>
				<string>revenge</string>
				<string>section</string>
				<string>sex</string>
				<string>shopping</string>
				<string>unknown</string>
				<string>work</string>
			</array>
			<key>restricted</key>
			<true/>
			<key>hint</key>
			<string>Filter events based on motivation</string>
			<key>id</key>
			<string>motivation</string>
			<key>name</key>
			<string>Motivation</string>
			<key>type</key>
			<string>selector</string>
		</dict>
		<dict>
			<key>options</key>
			<array/>
			<key>restricted</key>
			<true/>
			<key>hint</key>
			<string>Filter events based on category</string>
			<key>id</key>
			<string>category</string>
			<key>name</key>
			<string>Category</string>
			<key>type</key>
			<string>selector</string>
		</dict>
		<dict>
			<key>type</key>
			<string>tabbed</string>
			<key>name</key>
			<string>Date</string>
			<key>tabs</key>
			<array>
				<dict>
					<key>type</key>
					<string>selector</string>
					<key>name</key>
					<string>Year</string>
					<key>tooltip</key>
					<string>Search for events with specific dates</string>
					<key>id</key>
					<string>year.values</string>
					<key>active</key>
					<true/>
					<key>format</key>
					<string>number</string>
				</dict>
				<dict>
					<key>type</key>
					<string>multiple</string>
					<key>name</key>
					<string>Range</string>
					<key>id</key>
					<string>year.range</string>
					<key>selectors</key>
					<array>
						<dict>
							<key>type</key>
							<string>selector</string>
							<key>name</key>
							<string>Start</string>
							<key>id</key>
							<string>year.range.min</string>
							<key>single</key>
							<true/>
							<key>format</key>
							<string>number</string>
						</dict>
						<dict>
							<key>type</key>
							<string>selector</string>
							<key>name</key>
							<string>End</string>
							<key>id</key>
							<string>year.range.max</string>
							<key>single</key>
							<true/>
							<key>format</key>
							<string>number</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>type</key>
			<string>tabbed</string>
			<key>name</key>
			<string>Fatalities</string>
			<key>tabs</key>
			<array>
				<dict>
					<key>type</key>
					<string>selector</string>
					<key>name</key>
					<string>Values</string>
					<key>tooltip</key>
					<string>Search for events with specific fatality counts</string>
					<key>id</key>
					<string>fatalities.values</string>
					<key>active</key>
					<true/>
					<key>format</key>
					<string>number</string>
				</dict>
				<dict>
					<key>type</key>
					<string>multiple</string>
					<key>name</key>
					<string>Range</string>
					<key>id</key>
					<string>fatalities.range</string>
					<key>selectors</key>
					<array>
						<dict>
							<key>type</key>
							<string>selector</string>
							<key>name</key>
							<string>Minimum</string>
							<key>id</key>
							<string>fatalities.range.min</string>
							<key>single</key>
							<true/>
							<key>format</key>
							<string>number</string>
						</dict>
						<dict>
							<key>type</key>
							<string>selector</string>
							<key>name</key>
							<string>Maximum</string>
							<key>id</key>
							<string>fatalities.range.max</string>
							<key>single</key>
							<true/>
							<key>format</key>
							<string>number</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>type</key>
			<string>selector</string>
			<key>name</key>
			<string>Location</string>
			<key>tooltip</key>
			<string>Search for events in a specific location</string>
			<key>id</key>
			<string>locations</string>
		</dict>
	</array>
</dict>
</plist>
