<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UI</key>
	<array>
		<dict>
			<key>instruction</key>
			<string>Select the categories for your query. Changes are saved automatically.</string>
			<key>options</key>
			<array>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#assassination</string>
					<key>label</key>
					<string>assassination</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#massSuicide</string>
					<key>label</key>
					<string>mass suicide</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#compilation</string>
					<key>label</key>
					<string>compilation</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#riot</string>
					<key>label</key>
					<string>riot</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#executions</string>
					<key>label</key>
					<string>executions</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#insurrection</string>
					<key>label</key>
					<string>insurrection</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#rampage</string>
					<key>label</key>
					<string>rampage</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#war</string>
					<key>label</key>
					<string>war</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#sedition</string>
					<key>label</key>
					<string>sedition</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#terrorism</string>
					<key>label</key>
					<string>terrorism</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#lynching</string>
					<key>label</key>
					<string>lynching</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#unknownCategory</string>
					<key>label</key>
					<string>unknown</string>
				</dict>
			</array>
			<key>restricted</key>
			<true/>
			<key>hint</key>
			<string>Filter events based on category</string>
			<key>id</key>
			<string>category</string>
			<key>name</key>
			<string>Category</string>
			<key>type</key>
			<string>selector</string>
		</dict>
		<dict>
			<key>instruction</key>
			<string>Select the motivations for your query. Changes are saved automatically.</string>
			<key>options</key>
			<array>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#criminal</string>
					<key>label</key>
					<string>criminal</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#economic</string>
					<key>label</key>
					<string>economic</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#family</string>
					<key>label</key>
					<string>family</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#education</string>
					<key>label</key>
					<string>education</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#ethnic</string>
					<key>label</key>
					<string>ethnic</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#indian</string>
					<key>label</key>
					<string>indian</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#political</string>
					<key>label</key>
					<string>political</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#personal</string>
					<key>label</key>
					<string>personal</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#labor</string>
					<key>label</key>
					<string>labor</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#land</string>
					<key>label</key>
					<string>land</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#nativist</string>
					<key>label</key>
					<string>nativist</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#other</string>
					<key>label</key>
					<string>other</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#insane</string>
					<key>label</key>
					<string>insane</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#shopping</string>
					<key>label</key>
					<string>shopping</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#unknown</string>
					<key>label</key>
					<string>unknown</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#prison</string>
					<key>label</key>
					<string>prison</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#race</string>
					<key>label</key>
					<string>race</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#sex</string>
					<key>label</key>
					<string>sex</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#religion</string>
					<key>label</key>
					<string>religion</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#revenge</string>
					<key>label</key>
					<string>revenge</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#section</string>
					<key>label</key>
					<string>section</string>
				</dict>
				<dict>
					<key>value</key>
					<string>http://tcdfame.cs.tcd.ie/data/politicalviolence#work</string>
					<key>label</key>
					<string>work</string>
				</dict>
			</array>
			<key>restricted</key>
			<true/>
			<key>hint</key>
			<string>Filter events based on motivation</string>
			<key>id</key>
			<string>motivation</string>
			<key>name</key>
			<string>Motivation</string>
			<key>type</key>
			<string>selector</string>
		</dict>
		<dict>
			<key>restricted</key>
			<true/>
			<key>options</key>
			<array>
				<dict>
					<key>label</key>
					<string>Alabama</string>
					<key>value</key>
					<array>
						<string>AL</string>
						<string>Alabama</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Alaska</string>
					<key>value</key>
					<array>
						<string>AK</string>
						<string>Alaska</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Arizona</string>
					<key>value</key>
					<array>
						<string>AZ</string>
						<string>Arizona</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Arkansas</string>
					<key>value</key>
					<array>
						<string>AR</string>
						<string>Arkansas</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>California</string>
					<key>value</key>
					<array>
						<string>CA</string>
						<string>California</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Colorado</string>
					<key>value</key>
					<array>
						<string>CO</string>
						<string>Colorado</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Connecticut</string>
					<key>value</key>
					<array>
						<string>CT</string>
						<string>Connecticut</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Delaware</string>
					<key>value</key>
					<array>
						<string>DE</string>
						<string>Delaware</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Florida</string>
					<key>value</key>
					<array>
						<string>FL</string>
						<string>Florida</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Georgia</string>
					<key>value</key>
					<array>
						<string>GA</string>
						<string>Georgia</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Hawaii</string>
					<key>value</key>
					<array>
						<string>HI</string>
						<string>Hawaii</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Idaho</string>
					<key>value</key>
					<array>
						<string>ID</string>
						<string>Idaho</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Illinois</string>
					<key>value</key>
					<array>
						<string>IL</string>
						<string>Illinois</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Indiana</string>
					<key>value</key>
					<array>
						<string>IN</string>
						<string>Indiana</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Iowa</string>
					<key>value</key>
					<array>
						<string>IA</string>
						<string>Iowa</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Kansas</string>
					<key>value</key>
					<array>
						<string>KS</string>
						<string>Kansas</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Kentucky</string>
					<key>value</key>
					<array>
						<string>KY</string>
						<string>Kentucky</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Louisiana</string>
					<key>value</key>
					<array>
						<string>LA</string>
						<string>Louisiana</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Maine</string>
					<key>value</key>
					<array>
						<string>ME</string>
						<string>Maine</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Maryland</string>
					<key>value</key>
					<array>
						<string>MD</string>
						<string>Maryland</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Massachusetts</string>
					<key>value</key>
					<array>
						<string>MA</string>
						<string>Massachusetts</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Michigan</string>
					<key>value</key>
					<array>
						<string>MI</string>
						<string>Michigan</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Minnesota</string>
					<key>value</key>
					<array>
						<string>MN</string>
						<string>Minnesota</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Mississippi</string>
					<key>value</key>
					<array>
						<string>MS</string>
						<string>Mississippi</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Missouri</string>
					<key>value</key>
					<array>
						<string>MO</string>
						<string>Missouri</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Montana</string>
					<key>value</key>
					<array>
						<string>MT</string>
						<string>Montana</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Nebraska</string>
					<key>value</key>
					<array>
						<string>NE</string>
						<string>Nebraska</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Nevada</string>
					<key>value</key>
					<array>
						<string>NV</string>
						<string>Nevada</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>New Hampshire</string>
					<key>value</key>
					<array>
						<string>NH</string>
						<string>New Hampshire</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>New Jersey</string>
					<key>value</key>
					<array>
						<string>NJ</string>
						<string>New Jersey</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>New Mexico</string>
					<key>value</key>
					<array>
						<string>NM</string>
						<string>New Mexico</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>New York</string>
					<key>value</key>
					<array>
						<string>NY</string>
						<string>New York</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>North Carolina</string>
					<key>value</key>
					<array>
						<string>NC</string>
						<string>North Carolina</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>North Dakota</string>
					<key>value</key>
					<array>
						<string>ND</string>
						<string>North Dakota</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Ohio</string>
					<key>value</key>
					<array>
						<string>OH</string>
						<string>Ohio</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Oklahoma</string>
					<key>value</key>
					<array>
						<string>OK</string>
						<string>Oklahoma</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Oregon</string>
					<key>value</key>
					<array>
						<string>OR</string>
						<string>Oregon</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Pennsylvania</string>
					<key>value</key>
					<array>
						<string>PA</string>
						<string>Pennsylvania</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Rhode Island</string>
					<key>value</key>
					<array>
						<string>RI</string>
						<string>Rhode Island</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>South Carolina</string>
					<key>value</key>
					<array>
						<string>SC</string>
						<string>South Carolina</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>South Dakota</string>
					<key>value</key>
					<array>
						<string>SD</string>
						<string>South Dakota</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Tennessee</string>
					<key>value</key>
					<array>
						<string>TN</string>
						<string>Tennessee</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Texas</string>
					<key>value</key>
					<array>
						<string>TX</string>
						<string>Texas</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Utah</string>
					<key>value</key>
					<array>
						<string>UT</string>
						<string>Utah</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Vermont</string>
					<key>value</key>
					<array>
						<string>VT</string>
						<string>Vermont</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Virginia</string>
					<key>value</key>
					<array>
						<string>VA</string>
						<string>Virginia</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Washington</string>
					<key>value</key>
					<array>
						<string>WA</string>
						<string>Washington</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>West Virginia</string>
					<key>value</key>
					<array>
						<string>WV</string>
						<string>West Virginia</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Wisconsin</string>
					<key>value</key>
					<array>
						<string>WI</string>
						<string>Wisconsin</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Wyoming</string>
					<key>value</key>
					<array>
						<string>WY</string>
						<string>Wyoming</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>District of Columbia</string>
					<key>value</key>
					<array>
						<string>DC</string>
						<string>District of Columbia</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>American Samoa</string>
					<key>value</key>
					<array>
						<string>AS</string>
						<string>American Samoa</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Guam</string>
					<key>value</key>
					<array>
						<string>GU</string>
						<string>Guam</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Northern Mariana Islands</string>
					<key>value</key>
					<array>
						<string>MP</string>
						<string>Northern Mariana Islands</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>Puerto Rico</string>
					<key>value</key>
					<array>
						<string>PR</string>
						<string>Puerto Rico</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
				<dict>
					<key>label</key>
					<string>U.S. Virgin Islands</string>
					<key>value</key>
					<array>
						<string>VI</string>
						<string>Virgin Islands</string>
					</array>
					<key>polygon</key>
					<array/>
				</dict>
			</array>
			<key>type</key>
			<string>selector</string>
			<key>name</key>
			<string>Location</string>
			<key>tooltip</key>
			<string>Search for events in a specific location</string>
			<key>id</key>
			<string>location</string>
			<key>hint</key>
			<string>Limit events to specific areas</string>
		</dict>
		<dict>
			<key>id</key>
			<string>fatality</string>
			<key>type</key>
			<string>tabbed</string>
			<key>hint</key>
			<string>Limit the fatality count to a range</string>
			<key>name</key>
			<string>Fatalities</string>
			<key>tabs</key>
			<array>
				<dict>
					<key>type</key>
					<string>selector</string>
					<key>name</key>
					<string>Minimum fatality count</string>
					<key>id</key>
					<string>fatality.range.min</string>
				</dict>
				<dict>
					<key>type</key>
					<string>selector</string>
					<key>name</key>
					<string>Maximum fatality count</string>
					<key>id</key>
					<string>fatality.range.max</string>
				</dict>
				<dict>
					<key>multiple</key>
					<true/>
					<key>type</key>
					<string>selector</string>
					<key>name</key>
					<string>Values</string>
					<key>id</key>
					<string>fatality.values</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>date</string>
			<key>type</key>
			<string>tabbed</string>
			<key>name</key>
			<string>Date</string>
			<key>hint</key>
			<string>Filter to specific dates or range</string>
			<key>tabs</key>
			<array>
				<dict>
					<key>type</key>
					<string>selector</string>
					<key>name</key>
					<string>Start date</string>
					<key>id</key>
					<string>date.range.min</string>
				</dict>
				<dict>
					<key>type</key>
					<string>selector</string>
					<key>name</key>
					<string>End date</string>
					<key>id</key>
					<string>date.range.max</string>
				</dict>
				<dict>
					<key>type</key>
					<string>selector</string>
					<key>name</key>
					<string>Date: Individual values</string>
					<key>multiple</key>
					<true/>
					<key>id</key>
					<string>date.values</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
